__pycache__/

# Compiled Qt translations
*.qm

# Compiled gettext translations
*.mo

# Compiled UI files
jdNBTExplorer/ui_compiled

# Build
build/
dist/
jdNBTExplorer.egg-info/

# Some test files
*.dat
*.mca
*.dat_old
