# Created with jdDesktopEntryEdit 1.1
[Desktop Entry]
Type=Application
Name=jdNBTExplorer
Comment=An Editor for Minecraft NBT files
Icon=page.codeberg.JakobDev.jdNBTExplorer
TryExec=jdNBTExplorer
Exec=jdNBTExplorer %f
Categories=Game;Qt;
SingleMainWindow=true
